.bulb_of_1 {
    width: 250px;
    height: 150px;
    background-color: var(--primary-0);
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 0;
    filter: blur(190px);
    z-index: -10;
}

.bulb_of_2 {
    width: 250px;
    height: 150px;
    background-color: var(--primary-6);
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: 0;
    filter: blur(210px);
}

.bulb_of_3 {
    width: 250px;
    height: 150px;
    background-color: var(--bs-teal);
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 0;
    filter: blur(210px);
    z-index: 0;
}