[class*='bulbBlur'] {
    background-color: red;
    width: 15%;
    height: 20%;
    border-radius: 70% 30% 90% 14%;
    background-color: white;
    position: absolute;
    filter: blur(200px);
}

.blur_1 {
    background-color: var(--bs-danger);
    top: 0;
    left: 0;
}

.blur_2 {
    background-color: var(--primary-5);
    right: 2%;
    top: 0;
}

.blur_3 {
    background-color: var(--primary-1);
    left: 2%;
    top: 50px;
}

.blur_4 {
    background-color: var(--primary-6);
    right: 2%;
    top: 50px;
}

.blur_5 {
    background-color: var(--primary-4);
    left: 2%;
    top: -100px;
}

.blur_6 {
    background-color: var(--primary-7);
    right: 2%;
    top: 50px;
}