[class*='designed_card'] {
    width: 100%;
    text-align: center;
    border-top-style: solid;
    border-top-width: 7px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;

    .card_icon {
        width: 75px;
        height: 75px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        font-size: 38px;
        color: white;
    }

    .card_title {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: Prompt, sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2em;
    }

    .card_description {
        color: var(--gray-2);
        font-family: Poppins;
        line-height: 19px;
        font-size: 14px;
    }
}

@media(max-width:768px) {
    [class*='designed_card'] {
        padding-left: 20px;
        padding-right: 20px;

        .card_icon {
            width: 55px;
            height: 55px;
            font-size: 26px;
        }

        .card_title {
            font-size: 18px;
            line-height: 20px;
        }

        .card_description {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.designed_card_first {
    border-color: var(--bs-yellow);
    background-color: rgba(255, 187, 0, 0.089);

    .card_icon {
        background-color: var(--bs-yellow);
    }
}

.designed_card_second {
    border-color: var(--primary-0);
    background-color: rgba(255, 17, 0, 0.068);

    .card_icon {
        background-color: var(--primary-0);
    }
}

.designed_card_third {
    border-color: var(--primary-7);
    background-color: rgba(0, 255, 179, 0.089);

    .card_icon {
        background-color: var(--primary-7);
    }
}

.designed_card_fourth {
    border-color: var(--primary-5);
    background-color: rgba(0, 204, 255, 0.089);
    transition: 0.4s ease;

    .card_icon {
        background-color: var(--primary-5);
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
}

.designed_card_fives {
    border-color: var(--primary-1);
    background-color: rgba(89, 0, 255, 0.089);
    transition: 0.4s ease;

    .card_icon {
        background-color: var(--primary-1);
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
}

.designed_card_six {
    border-color: var(--primary-3);
    background-color: rgba(255, 0, 0, 0.089);
    transition: 0.4s ease;

    .card_icon {
        background-color: var(--primary-3);
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
}

.designed_card_seven {
    border-color: var(--primary-2);
    background-color: rgba(225, 0, 255, 0.089);
    transition: 0.4s ease;

    .card_icon {
        background-color: var(--primary-2);
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
}

.designed_card_eight {
    border-color: var(--primary-6);
    background-color: rgba(255, 230, 0, 0.089);
    transition: 0.4s ease;

    .card_icon {
        background-color: var(--primary-6);
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
}

.designed_card_nine {
    border-color: var(--primary-7);
    background-color: rgba(0, 255, 136, 0.089);
    transition: 0.4s ease;

    .card_icon {
        background-color: var(--primary-7);
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
}

.designed_card_ten {
    border-color: var(--bs-orange);
    background-color: rgba(255, 166, 0, 0.089);
    transition: 0.4s ease;

    .card_icon {
        background-color: var(--bs-orange);
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }

}

.designed_card_eleven {
    border-color: var(--bs-cyan);
    background-color: rgba(0, 238, 255, 0.089);
    transition: 0.4s ease;

    .card_icon {
        background-color: var(--bs-cyan);
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
}

.designed_card_twelve {
    border-color: var(--bs-dark);
    background-color: rgba(2, 61, 255, 0.089);
    transition: 0.4s ease;

    .card_icon {
        background-color: var(--bs-dark);
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
}