.top_head {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 15px 0;
  transition: all 0.3s ease;
  z-index: 10000;
}

.top_head.scrolled {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0px 0;
  z-index: 10000;
}

.header {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.75fr;
  gap: 20px;
  align-items: center;
  position: relative;
  z-index: 1000;

  .logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    span {
      font-weight: bold;
      font-size: 24px;
      text-shadow: 0 1px 0 #31a2e4, 0 2px 0 #c9c9c9, 0 3px 0 #40a4e7, 0 3px 5px rgba(81, 162, 216, 0.2),
        0 5px 10px rgba(54, 154, 236, 0.25), 0 10px 10px rgba(47, 149, 233, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    }
    img {
      width: 50px;
      object-fit: cover;
    }
  }

  .nav_links {
    display: flex;
    justify-content: space-between;

    .nav_link {
      font-weight: 600;
      margin: 5px;
      padding: 3px 2px;
      transition: background-color 0.3s ease;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: #0d6efd;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .nav_link.active {
      &::after {
        width: 100%;
      }
    }
  }

  .nav_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-family: Poppins;

    .language {
      position: relative;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: bold;
      cursor: pointer;

      span:nth-child(1) {
        font-size: 24px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgb(233, 247, 255);
        color: var(--main);
      }

      .select_icon {
        font-size: 22px;
        color: var(--main);
        padding-top: 8px;
      }

      .lang_icon {
        img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .box_selectors {
      position: absolute;
      top: 110%;
      background-color: white;
      border-radius: 10px;
      padding: 7px;
      padding-left: 0px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      display: none;
      z-index: 1000;
    }

    .select_option {
      width: 140px;
      height: 130px;
      background-color: transparent;
      overflow: auto;
      padding: 4px 0;
      padding-right: 5px;

      li {
        padding: 10px 12px;
        font-size: 15px;
        text-transform: capitalize;
        font-weight: 400;
      }

      li.selectedOpt {
        background-color: rgba(193, 223, 252, 0.692);
        color: var(--main);
      }
    }

    .openLangSelector_box {
      @extend .box_selectors;
      padding: 2px 0px;
      right: 10%;
      height: 145px;

      .select_language {
        @extend .select_option;
        overflow: hidden;
        padding-right: 0;

        li {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }

    .openLangSelector_box.open {
      display: block;
    }
  }
}

.burgerMenu {
  display: flex;
  justify-content: flex-end;
  display: none;
  color: var(--primary-8);
  font-weight: bold;
  padding-right: 10px;

  .sidebarIconAction {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-8);
  }

  .sidebarIconAction.closer {
    color: var(--primary-0);
  }
}

@media (max-width: 1124px) {
  .header {
    grid-template-columns: 0.75fr 1.25fr 0.55fr;
  }
}

@media (max-width: 992px) {
  .header {
    grid-template-columns: 0.75fr 1.45fr 0.35fr;

    .nav_links {
      justify-content: space-evenly;

      .nav_link {
        font-size: 14px;
      }
    }

    .nav_right {
      gap: 5px;
    }
  }
}

@media (max-width: 768px) {
  .burgerMenu {
    display: flex;
  }

  .header {
    grid-template-columns: 1fr 1fr;

    .nav_links {
      display: none;
    }

    .nav_right {
      display: none;
    }
  }
}
