.btn {
    color: white;
    border-radius: 6px;
    padding: 8px 10px;
    background: var(--primary-5);
    border: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}