.btn {
    color: white;
    border-radius: 6px;
    padding: 8px 10px;
    background: var(--primary-5);
    border: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid white;

    &:hover {
        color: var(--primary-5);
        background-color: white;
        border: 1px solid var(--primary-5)
    }
}


.ads_lenting {
    margin-top: 100px;
}

@media(max-width:768px) {
    .ads_lenting {
        margin-top: 65px;
    }
}