.advertising_fss {
    position: relative;
    top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: .75fr 1fr;
    gap: 35px;
    height: auto;
    background-color: #390dfd10;
    align-items: center;
    border-radius: 10px;

    img {
        width: 100%;
    }

    .adverting_right {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 15px;
        height: 100%;
        padding: 50px 50px 50px 0;
        text-align: end;

        h1 {
            font-size: 65px;
            font-family: Prompt;
            line-height: 67px;
        }

        p {
            color: var(--gray-2);
            font-family: Poppins;
            width: 80%;
        }

        .adver_btns {
            display: flex;
            gap: 15px;
            margin-top: 20px;

            .btn {
                width: 120px;
                height: 45px;
                font-size: 16px;
            }

            .btn_tryFree {
                background-color: var(--primary-1);
            }

            .btn_contact {
                background-color: white;
                border: 1px solid var(--primary-8);
                color: var(--primary-8);
            }
        }
    }
}