.footer {
  margin-top: 70px;
  background-color: hsla(263.0769230769231, 100%, 97.45%, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 15px 0;
  margin-bottom: 10px;
}

.footer_top {
  padding: 15px 0 0 0;
}
.footer_center {
  width: 100%;
  padding: 0 10px;
}
.social_link {
  display: grid;
  gap: 15px;
  width: 100%;

  a {
    border: 1px solid rgba(30, 143, 255, 0.411);
    padding: 5px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    font-size: 18px;
    transition: 0.2s linear;
    font-weight: bold;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    &:hover {
      background-color: rgb(133, 241, 200);
      color: rgb(24, 1, 87);
    }
  }
}

@media (min-width: 512px) {
  .social_link {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .social_link {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .footer_center {
    padding: 0 20px;
  }
  .social_link {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    a {
      flex-direction: column;
      padding: 10px;
      font-size: 22px;
    }
  }
}

.footer_bottom {
  padding: 12px 0;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  color: var(--gray-2);

  span {
    line-height: 0;
  }

  p span {
    color: violet;
  }
}

@media (max-width: 992px) {
  .footer_center {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 512px) {
  .footer_center {
    grid-template-columns: 1fr;
    font-size: 14px;
    gap: 15px;

    .ft_ct_wars {
      align-items: flex-start;
      gap: 5px;

      &:first-child,
      &:last-child {
        padding: 0 15px;
      }

      #footer_ct_title {
        text-align: start;
        width: auto;
      }
    }
  }

  .footer_bottom {
    padding: 7px 0;
    font-size: 12px;
    gap: 5px;
    width: 95%;
    border-radius: 5px;
  }
}
